<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :place %>
    <%= f.input :status %>
    <%= f.input :number %>
    <%= f.association :unit %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :updated_date %>
    <%= f.association :updated_person %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
