<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @item.place %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Number:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @item.updated_date %>
</p>

<p>
  <strong>Updated person:</strong>
  <%= @item.updated_person %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
